<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://w7.pngwing.com/pngs/141/850/png-transparent-nike-logo-movement-brands-nike-thumbnail.png" alt="Nike" style="width: 40px;">
    </a>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="/acercade" routerLinkActive="active">Nosotros</a>
        </li> 
      </ul>
      <div class="d-flex" >
        <button class="btn btn-outline-success" type="button" routerLink="/login"
        *ngIf="!isLoggedIn(); else elseTemplate"
        >Iniciar Sesion</button>
  
        <ng-template #elseTemplate>
          <button class="btn btn-outline-danger" 
          type="button" 
          (click)="onClickLogout()"
        >Cerrar Sesion</button>
        </ng-template>
      </div>
  
    </div>
  </div>
</nav>
