/* Estilos generales para el contenedor */
.container-fluid {
  background-color: #ffffff; /* Fondo blanco */
  padding: 30px;
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos de la breadcrumb */
.breadcrumb {
  background-color: #f1f1f1; /* Fondo gris claro */
  padding: 10px 15px;
  border-radius: 5px; /* Bordes redondeados */
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold; /* Texto en negrita */
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #6c757d; /* Gris para el texto activo */
}

/* Estilos del título */
h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem; /* Tamaño de fuente mayor */
  margin-bottom: 20px;
  color: #333; /* Color del texto */
}

/* Estilos del texto secundario */
.text-muted {
  font-size: 1.2rem; /* Tamaño de fuente ligeramente mayor */
  color: #555; /* Color del texto */
}

/* Estilos del botón primario */
.btn-primary {
  background-color: #28a745; /* Color verde */
  border-color: #28a745;
  color: #fff; /* Texto blanco */
}

.btn-primary:hover {
  background-color: #218838; /* Verde más oscuro */
  border-color: #1e7e34;
}

/* Estilos del botón de compra */
.btn-danger {
  background-color: #dc3545; /* Color rojo */
  border-color: #dc3545;
  color: #fff; /* Texto blanco */
}

.btn-danger:hover {
  background-color: #c82333; /* Rojo más oscuro */
  border-color: #bd2130;
}

/* Estilo para las imágenes */
.img-fluid {
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
